/* ------------------------------Fons----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* ------------------------------End fons------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

img{
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------------- Menu-------------------------------------------------------------- */

.container { 
  max-width: 1170px; 
  margin: 0 auto;
  padding: 0 15px; 
} 
 
.header { 
  padding-top: 40px; 
  background-size: cover; 
  margin-bottom: 131px;
} 
 
.navigation { 
  display: flex; 
  justify-content: space-between; 
} 
 
.logo { 
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #95e1d3;
  text-decoration: none;
} 

.menu { 
  color: #95e1d3; 
  display: flex; 
  align-items: center; 
} 
 
.menu-item:not(:last-child) { 
  margin-right: 32px; 
} 

.menu-item{
  list-style: none;
}
 
.menu-item__link { 
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #95e1d3;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
} 
 
.menu-item__link::after { 
  margin-top: 10px;
  content: ""; 
  display: block; 
  height: 3px; 
  width: 0; 
  background-color: #f38181; 
  transition: 0.2s linear all; 
} 
 
.menu-item__link:hover::after { 
  width: 100%; 
} 
 
.menu-item__link:hover { 
  color: #f38181; 
}

/* ---------------------------------------------------End Menu-------------------------------------------- */
/* ---------------------------------------------------Title-1--------------------------------------------- */

  .title-1{
    font-size: 20px;
    font-weight: 700;
    color: rgb(85, 85, 85);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Kaushan Script',  cursive;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  .title-2 {
    font-size: 30px;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 28px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold ;
}

  .title-2::after {
    content: "";
    display: block;
    background-color: #f38181;
    width: 50px;
    height: 2px;
    margin: 28px auto 0;
}
  .box-title_1{
      padding-bottom: 66px;
  }

 /* ---------------------------------------------------End Title-1----------------------------------------------------------- */
 /* -------------------------------------------------- Services-------------------------------------------------------------- */
.service-item_1{
    display: flex;
    width: 33.3%;
    margin-bottom: 50px;
    padding-right: 15px;
}

.serv-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 1170;
    margin-left: 15%; */
}

/* .container { 
  max-width: 1170px; 
  margin: 0 auto; 
  padding: 0 15px; 
} */


.service-title{
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.service-text{
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  padding-left: 62px;
}

.service-item_top{
    display: flex;
}

.img-service_container{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
}

/* --------------------------------------------------End Services-------------------------------------------------------------- */
/* --------------------------------------------------Developers------------------------------------------------------------------- */

  .developers{
    display: flex;
  }

/* 
  .container { 
    max-width: 1170px; 
    margin: 0 auto; 
    padding: 0 15px; 
  }
   */

.text-box-dev-title-1{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
 }

 .text-box-dev-title-2{
   display: flex;
   justify-content: center;
   margin-bottom: 96px;
   font-size: 15px;
   font-family: "Roboto";
   color: rgb(153, 153, 153);
   line-height: 1.6;
 }

.developers{
  margin-left: -30px;
}

 .developer-item{
   max-width: 380px;
   margin-left: 30px;
   width: 33.33%;
   min-width: 200px;
 }


 .developer_item-heading{
   display: flex;
   justify-content: center;
   font-size: 14px;
   font-family: "Montserrat";
   color: rgb(51, 51, 51);
   text-transform: uppercase;
   line-height: 1.2;
   margin-top: 31px;
 }

 .developer_item-text{
   display: flex;
   justify-content: center;
   font-size: 15px;
   font-family: "Roboto";
   color: rgb(153, 153, 153);
   font-style: italic;
   line-height: 1.6;
   margin-top: 19px;
   margin-bottom: 62px;
 }
 /* --------------------------------------------------End Developers------------------------------------------------------------- */
/* -------------------------------------------------- Footer-------------------------------------------------------------- */
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-top: #e5e5e5 solid 1px ;
  padding-top: 10px;
  padding-bottom: 12px;
  
}


/* .footer-container::before{
   margin-bottom: 10px;
  content: "";
  display: block;
  background-color:#e5e5e5;
  width: 100%;
  height: 1px;
  margin-top: 86px;
  /* margin-left: 119px; */

.f-element{
  display: flex;
  max-width: 380px;
}

.btn {
  font-size: 14px;
font-family: "Montserrat", sans-serif;
color: rgb(255, 255, 255);
text-transform: uppercase;
line-height: 1.2;
text-align: center;
background-color: rgb(149,225,211);
width: 152px;
height: 40px;
padding-top: 9px;
padding-bottom: 9px;
font-weight:bold;
border: none;
}

.f-text{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 1.2; 
}

.footer-d-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 13px ;
}

.u-form{
  margin: 0 auto;
}

.u-form input{
  display: flex;
  width: 229px;
  height: 40px;
  border: 1px solid #e5e5e5;
  outline: none;
  transition: all .2s ease-in;
  
}

.u-form input::placeholder{
font-size: 15px;
font-family: "Roboto";
color: rgb(204, 204, 204);
padding-top:14px ;
padding: 7px;

}

.u-form input:focus{
  background-color: gainsboro;
  box-shadow: 0px 1px 8px 0px rgb(153, 153, 153);
}

.a-text{
  color: #f38181;
  margin-left: 5px;
  text-decoration: none;
}
/* -------------------------------------------------- End Footer-------------------------------------------------------------- */